.about-main2 {
    background: url('./Assets/Img/home/burj khlifa.jpg') no-repeat center center;
    background-size: cover;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.saudi-content {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.saudi-content h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.saudi-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-paragraphs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left-paragraph, .right-paragraph {
    width: 48%;
    font-size: 1.2em;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}

.left-paragraph {
    text-align: left;
}

.right-paragraph {
    text-align: right;
}
