.hotel-main {
  font-family: Arial, sans-serif;
  background: url('./Assets/Img/home/burj khlifa.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.hotel-header {
  background: white;
}

.hotel-page1 {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  color: white;
}

.hotel-info {
  max-width: 50%;
}

.hotel-info h1 {
  font-size: 36px;
  font-weight: bold;
}

.hotel-info h1 span {
  color: teal;
}

.hotel-info p {
  font-size: 18px;
}

.hotel-info p span {
  color: orange;
}

.tour-button {
  padding: 10px 20px;
  background: orange;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
}

.hotel-form {
  background: #662D91;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px; /* Adjust max-width as needed */
  margin-top: 50px;
}

.bg-theme {
  background: #662D91;
}

.hotel-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.hotel-form-group label {
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
}

.hotel-form-group input,
.hotel-form-group select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.hotel-search-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
}

.hotel-search-btn:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {
  .hotel-page1 {
    flex-direction: column;
    align-items: center;
  }

  .hotel-form {
    margin-top: 20px;
  }
}
